body {
    background: #7D7979 url("https://image.shutterstock.com/z/stock-photo-handsome-weightlifter-preparing-for-training-shallow-depth-of-field-selective-focus-on-hands-and-366605333.jpg") no-repeat top;
}

.words {
  margin-left: 85px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  width: 41%;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  margin: 210px 0 0 0;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  margin: 0 0 0 0;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 0 0;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 0 0;
}

h5 {
  margin: 10px 0 0 0;
}

.image {
  position: absolute;
  margin-right: 160px;
}

.link {
  border: 3px solid #DDD;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  font-size: 22px;
  border-radius: 10px;
}

form {
  margin-top: 20px; 
}
input {
  border-radius: 7px;
  padding: 15px;
  color: gray;
}
