body {
    background: #7D7979 url("https://www.bodybuilding.com/fun/images/2015/craig-capursos-high-def-shoulder-workout-facebook-960x540.jpg") no-repeat top;
}

.words {
  margin-left: 85px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  width: 41%;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  margin: 80px 0 0 0;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  margin: 0 0 0 0;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 0 0;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 0 0;
}

h5 {
  margin: 10px 0 0 0;
}

.image {
  position: fixed;
  margin: 0 50px 300px 0;
}
